.container {
    max-width: 95% !important;
    width: 95% !important;
}

.content {
    min-height: 100%;
    padding: 0px;
}

header {
    text-align: right;
    background: #265166;
}

nav ul li {
    margin: 10px;
    list-style-type: none;
    padding: 8px 0px;
}

header ul li a {
    color: #e1e1e1;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a {
    color: #265166;
    text-transform: uppercase;
    font-weight: bold;
}

header ul li a:hover {
    color: white;
}

nav ul li a:hover {
    color: #2A5E76;
}

.logo {
    max-width: 150px;
    margin: 20px;
}
