html,
body {
    font-size: 12px;
    height: 100%;
    font-family: 'Hind';
    letter-spacing: 0.5px;
    background: rgba(245, 245, 245, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #265166;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.button,
input[type=submit],
button {
    border-radius: 0px;
    color: white;
    background: #265166;
    border: #2A5E76;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    color: #fff;
    border-color: #2A5E76;
    outline: 0;
}

.button-default {
    background: transparent;
    color: #2a5e76;
    padding: 0px 5px;
    line-height: 0px;
    margin-bottom: 0px;
}

.button-default:hover,
.button-default:active,
.button-default:focus {
    color: #3B7E9E;
}

button[disabled],
html input[disabled] {
    cursor: not-allowed !important;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #265166;
}

a:hover {
    /*color: #265166;*/
    text-decoration: overline;
}

header,
footer {
    max-width: 100%;
    text-align: center;
}

header ul li,
footer ul li {
    display: inline-block;
    margin-left: 10px;
}

footer {
    margin: 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
}

footer ul {
    margin-bottom: 0.5rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav ul li {
    text-align: center;
}

.invalid,
.valid {
    font-size: 0.8em;
    padding: 0.25%;
}

.invalid {
    background: #FFF6F6;
    color: #D20000;
}

.valid {
    background-color: #ECFFE9;
    color: #005500;
}

.failure,
.success {
    font-size: 1.1em;
    padding: 5px;
    text-align: center;
    margin: 1%;
}

.failure {
    background: #FFE7E7;
    color: #A90101;
}

.success {
    background: #E7FFE7;
    color: #039249;
}

select[multiple] {
    height: auto;
}

.label-radio {
    margin-right: 10px;
    font-size: 0.9em;
}

#login {
    padding: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 26em;
    height: 18em;
    margin-top: -10em;
    /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
    /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.form-label {
    display: inline-block;
    margin-right: 10px;
}

td {
    vertical-align: top;
}

#login h5 {
    margin-bottom: 10px;
}

#login div .failure {
    padding: 0px;
}

.ta-editor {
    min-height: 200px;
    height: auto;
    overflow: auto;
}

.ta-hidden-input {
    visibility: hidden;
}

.right {
    text-align: right;
    align-items: right;
}

label.search-label {
    font-size: 0.9em;
}

.list-box {
    border: 1px solid #e1e1e1;
    padding: 2em 3em;
    margin-bottom: 20px;
}

.sidebar {
    border: 1px solid #e1e1e1;
    padding: 2em;
}

.img-load {
    max-height: 150px;
    display: block;
}

.book-box {
    text-align: center;
    margin: 0px 10px !important;
}

.book-box>span {
    display: block;
    margin-bottom: 5px;
}

.book-holder {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sweet-alert button {
    background-color: #265166;
    color: white;
    border-radius: 0px;
    padding: 0px 20px !important;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: #21568b;
}
