.container {
    width: 1200px;
    max-width: 90% !important;
}

nav,
header {
    padding: 0px 50px;
    margin: 0px;
    width: 100%;
}
h5{
    margin-top: 20px;
}
header,
footer {
    background-color: #265166;
}

header ul {
    margin: 0px;
}

header ul li {
    margin-bottom: 0px;
    list-style-type: none;
    padding: 5px;
    display: inline-block;
}

header ul li a,
nav ul li a,
footer a {
    color: #e1e1e1;
}

header ul li a:hover,
nav ul li a:hover,
footer a:hover {
    color: #white !important;
    text-decoration: overline;
}

nav {
    background-color: #2A5E76;
    padding: 0.5% 50px;
}

nav ul {
    text-align: right;
    margin-bottom: 0px;
}

nav span {
    text-align: left;
}

footer {
    padding: 0.25%;
}

.logo {
    display: inline;
    max-width: 70px;
}

nav ul li {
    text-align: center;
    margin-bottom: 0px;
    list-style-type: none;
    padding: 10px;
    display: inline-block;
}

footer {
    color: #e1e1e1;
}

.thread {
    padding: 10px 20px;
    background-color: #F7F5F5;
    margin: 10px 0px;
}

.details {
    font-size: 0.8em;
    text-align: right;
}

label.title {
    font-size: 1.2em;
}

p.body {
    font-size: 0.9em;
}

.sub {
    font-variant: small-caps !important;
    font-size: 0.8em;
}
.book-box{
    padding: 0px 20px 0px 0px;
}
.book-box span{
    display: block;
}
.adv-search{
    margin: 0px !important;
    padding: 2em;
}