
@font-face {
  font-family: 'HotPizza';
  src: url('HotPizza.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HotPizza';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('HotPizza.ttf')  format('truetype'), url('HotPizza.svg#HotPizza') format('svg');
  font-weight: normal;
  font-style: normal;
}


